.projlink {
    color: black;
    text-decoration: none;
}
a.projlink:hover{
    text-decoration: none;
}

table, th, td {
    border: 2px solid black;
    table-layout: fixed;
}

td {
    max-width: 50%;
    vertical-align: top;
}
/*.toplink{
    color: rgb(84, 126, 212);
}*/
/*
.post-link{
    margin-left: 0px;
}

.month-list {
    text-decoration-color: red;
    margin-left: 10px;
}
*/
