.projlink {
    color: black;
    text-decoration: none;
}
a.projlink:hover{
    text-decoration: none;
}
/*.toplink{
    color: rgb(84, 126, 212);
}*/
/*
.post-link{
    margin-left: 0px;
}

.month-list {
    text-decoration-color: red;
    margin-left: 10px;
}
*/
